<html>

<head>
  <style>
    .dialogdemoBasicUsage #popupContainer {
      position: relative;
    }

    .dialogdemoBasicUsage .footer {
      width: 100%;
      text-align: center;
      margin-left: 20px;
    }

    .dialogdemoBasicUsage .footer,
    .dialogdemoBasicUsage .footer>code {
      font-size: 0.8em;
      margin-top: 50px;
    }

    .edit {
      display: none;
    }

    .space {
      margin-right: 5px;
      padding: 10px;
      margin-left: 8px;
    }

    div.space button {
      border-radius: 0.3em;
    }

    div.editable span.show {
      background-color: #D3D3D3;
    }

  </style>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script>
    angular.module('MyApp', ['ngMaterial', 'ngMessages'])
      .controller('DeleteReportCtrl', function ($scope, $mdDialog, $mdMedia) {
        $scope.showConfirm = function (ev) {
          // Appending dialog to document.body to cover sidenav in docs app
          var confirm = $mdDialog.confirm({
            controller: ConfirmDialogController,
            templateUrl: 'deleteConfirm.html',
            parent: angular.element(document.body),
            targetEvent: ev,
            clickOutsideToClose: true
          })
          $mdDialog.show(confirm).then(function () {
            $scope.status = 'deleted';
          }).catch(function() {
            window.alert('canceled');
          });

        };
        
        $scope.srNumber = "1234567";
        $scope.desc = "This is a test";
        $("#sr").text($scope.srNumber);
        $("#desc").text($scope.desc);

        $("button.editButton").click(function() {
          $("#srInput").val($scope.srNumber);
          $("#descInput").val($scope.desc);
          $(this).hide();
          $(this).siblings('.edit').show();
          $(this).siblings('.show').hide();
          $("#srInput").focus();
          $("#descInput").focus();
        });

        $("button.edit.cancel").click(function() {
          $("#sr").text($scope.srNumber);
          $("#desc").text($scope.desc);
          $(this).hide();
          $(this).siblings('.edit').hide();
          $(this).siblings('.show').show();
        });

        $("button.edit.save").click(function(){
          var parent = $(this).parent();
          if (parent.hasClass('sr')) {
            console.log('sr number editable');
          } else if (parent.hasClass('desc')) {
            console.log('desc editable');
          }
          $scope.srNumber = $("#srInput").val();
          $scope.desc = $("#descInput").val();
          $("button.edit.cancel").click();
        });
      });


    function ConfirmDialogController($scope, $mdDialog) {
      $scope.delete = function () {
        $mdDialog.hide();
      };
      $scope.cancel = function () {
        $mdDialog.cancel();
      };
    }
  </script>

</head>

<body>
  <div ng-controller="DeleteReportCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" ng-app="MyApp">
    <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="">
      <md-button class="md-primary md-raised" ng-click="showConfirm($event)" flex="100" flex-gt-md="auto" style="text-transform:none;">
        Confirm Dialog
      </md-button>
    </div>

    <div>
      <div class="space sr editable">
        <span >SR Number:</span>
        <input class="edit" id="srInput"/>
        <button class="edit save" id="srSaveButton">Save</button>
        <button class="edit cancel" id="srCancelButton">Cancel</button>
        <span id="sr" class="show"></span>
        <button class="show editButton">Edit</button>
      </div>
      <div class="space desc editable">
        <span >Description:</span>
        <input class="edit" id="descInput"/>
        <button class="edit save" id="descSaveButton">Save</button>
        <button class="edit cancel" id="descCancelButton">Cancel</button>
        <span id="desc" class="show"></span>
        <button class="show editButton">Edit</button>
      </div>
    </div>
    
    <div ng-if="status">
      <br>
      <b layout="row" layout-align="center center" class="md-padding">
        {{status}}
      </b>
    </div>

    <script type="text/ng-template" id="deleteConfirm.html">
      <md-dialog ng-cloak>
        <form>
          <div class="md-toolbar-tools">
          <h2>Delete the Report</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
          </md-button>
          </div>
          <md-dialog-content>
            <div class="md-dialog-content">
              <p> Are you sure you want to delete the report? </p>
            </div>
          </md-dialog-content>

          <md-dialog-actions layout="row">
              <md-button ng-click="cancel()" style="text-transform: none;" md-autofocus>Cancel</md-button>
              <span flex></span>
              <md-button ng-click="delete()" style="text-transform: none;">Delete</md-button>
          </md-dialog-actions>
        </form>
      </md-dialog>
    </script>

  </div>

</body>

</html>